<!DOCTYPE html>
<html>
  <head>
    <title>Geometry Dash Difficulty Info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Geometry Dash Difficulty Info</h1>
    <p>Welcome to Geometry Dash Difficulty Information, the page where you can see the real difficulty of a level and the hardest parts of it! With a nice graph, users can see and submit a difficulty grade for each 10 percentage of the level.</p>
    <input type="search" placeholder="Level ID"></input>
  </body>
</html>
