<!DOCTYPE html>
<html>
  <head>
    <title>Level Search</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= name %></h1>
    <h2>by <%= acc %></h2>
    <img src=''>
    <h2>Graph:</h2>
  </body>
</html>
